body {
  background: brown;
}
h1 {
  color: blue;
  text-align: center;
  font-weight: bolder;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p  {
  font-family: sans-serif;
  margin-left: auto;
  font-size: 14;
}
ul {
  line-height: 20px;
  font-style: italic;
  font-family: fantasy;

}
ol {font-style: normal;
  font-family: sans-serif;
}
img { width: auto;

}
strong  {
  font-style: italic;
}
em  {
  font-weight: bold;
}
